<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>MyTube</title>
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
</head>
<body>
<!--    start of navbar-->
<nav class="navbar sticky-top navbar-light bg-dark">
    <div class="container-fluid flex-row justify-content-start">
        <a class="navbar-brand mx-3 text-white" href="/">
            <img src="{{ url_for('static', filename='images/icon.png') }}" alt="" width="30" height="24">
            MyTube
        </a>
        <form id="search-form">
            <input id="search-input" class="form-control" type="search" placeholder="Search" aria-label="Search" list='listid' autocomplete="off">
            <datalist id='listid'>
<!--               <option label='label1' data-value='value1'>-->
<!--               <option label='label2' data-value='value2'>-->
            </datalist>
        </form>
    </div>
</nav>
<!--    end of nav bar-->

<!--    start of list of suggestion-->
<div class="container">
    <div id="suggestion">
        {% for d in data %}
        <div class="card my-4">
            <a href="/video/{{ d['id'] }}">
                <img src="{{ url_for('thumbnail', file_id=d['id']) }}" class="card-img-top" alt="{{ d['file_name'] }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ d['file_name'].capitalize() }}</h5>
                <p class="card-text text-muted">Duration: {{ d['duration'].split('.')[0] }}</p>
            </div>
        </div>

        {% endfor %}
    </div>

    <div class="d-flex justify-content-center my-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

</div>
<!--    end of list of suggestion-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>